{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [	"> 1%","last 2 versions", "safari >= 7","not ie <= 10"]
      },
      "useBuiltIns": true
    }],
    "react",
    "stage-0"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["transform-runtime"],
    "transform-decorators-legacy",
    ["import", { "libraryName": "antd", "style": true }]
  ]
}
